<div class="card" style="-webkit-box-shadow: 0px 0px 56px -4px rgba(237,23,34,1);
    -moz-box-shadow: 0px 0px 56px -4px rgba(237,23,34,1);
    box-shadow: 0px 0px 56px -4px rgba(237,23,34,1); opacity: 0.8;">
  <div class="card-header">

    <h1>Edit Post</h1>

    <%= form_for :post, url: post_path(@post), method: :patch do |f| %>
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |error| %>
          <div class="alert alert-danger"> <%= error %> </div>
        <% end %>
      <% end %>

      <p>
        <%= f.label :title %>
        <%= f.text_field(:title, {:class => 'form-control'}) %>
      </p>

      <p>
        <%= f.label :body %>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
      </p>

      <p>
        <%= f.submit({:class => 'btn btn-primary'}) %>
      </p>

    <% end %>

  </div>
</div>